---
project: Moleculer
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-molecular
more_info:
  links:
    - text: Microbox Moleculer Guides
      href: https://guides.microbox.cloud/nodejs/moleculer
    - text: Moleculer Documentation
      href: https://moleculer.services/docs/
---
