---
project: Moleculer
language: Node.js
more_info:
  links:
    - text: Nanobox Moleculer Guides
      href: https://guides.nanobox.io/nodejs/moleculer
    - text: Moleculer Documentation
      href: https://moleculer.services/docs/
---
