@import "../../stylesheets/base";

// Colors
$bg-left: #e07985;
$bg-right: #5f4f93;
$burst: #fff;
$shadow: #0c0515;
$heading: #fff;
$text: #e1cbe4;
$link: #e1cbe4;
$link-hover: #fff;

@import "../../stylesheets/project-template"
