---
project: React
language: Node.js
more_info:
  links:
    - text: Nanobox React Guides
      href: https://guides.nanobox.io/javascript/react
    - text: React Documentation
      href: https://facebook.github.io/react/docs/hello-world.html
---
