@import "../../stylesheets/base";

// Colors
$bg-left: #3c3c3c;
$bg-right: #1f1f1f;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #a0a0a0;
$link: #00bee0;
$link-hover: #fff;

@import "../../stylesheets/project-template"
