---
project: Symfony
language: PHP
more_info:
  links:
    - text: Nanobox Symfony Guides
      href: https://guides.nanobox.io/php/symfony
    - text: Nanobox MySQL Guides
      href: https://guides.nanobox.io/mysql
---
