---
project: Symfony
language: PHP
quickstart_repo: https://github.com/mu-box/quickstart-symfony
more_info:
  links:
    - text: Microbox Symfony Guides
      href: https://guides.microbox.cloud/php/symfony
    - text: Microbox MySQL Guides
      href: https://guides.microbox.cloud/mysql
---
