@import "../../stylesheets/base";

// Colors
$bg-left: #3390c3;
$bg-right: #083f5d;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #8dccef;
$link: #8dccef;
$link-hover: #fff;

@import "../../stylesheets/project-template"
