---
project: Feathers
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-feathers
more_info:
  links:
    - text: Microbox Feathers Guides
      href: https://guides.microbox.cloud/nodejs/feathers
    - text: Feathers Documentation
      href: https://docs.feathersjs.com/
---
