@import "../../stylesheets/base";

// Colors
$bg-left: #fff;
$bg-right: #fff;
$burst: #aaa;
$shadow: #aaa;
$heading: #444;
$text: #666;
$link: #28bf8c;
$link-hover: #0d8c61;

@import "../../stylesheets/project-template"
