---
project: Hapi.js
language: Node.js
more_info:
  links:
    - text: Nanobox Hapi.js Guides
      href: https://guides.nanobox.io/nodejs/sails
    - text: Nanobox Postgres Guides
      href: https://guides.nanobox.io/postgresql
    - text: Hapi.js Documentation
      href: https://hapijs.com/
---
