---
project: Hapi.js
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-hapi
more_info:
  links:
    - text: Microbox Hapi.js Guides
      href: https://guides.microbox.cloud/nodejs/hapi
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postgresql
    - text: Hapi.js Documentation
      href: https://hapijs.com/
---
