@import "../../stylesheets/base";

// Colors
$bg-left: #ffdf6a;
$bg-right: #d27200;
$burst: #fff;
$shadow: #9c4800;
$heading: #6d6c59;
$text: #fff;
$link: #fff;
$link-hover: #fff;

@import "../../stylesheets/project-template"
