@import "../../stylesheets/base";

// Colors
$bg-left: #2b95e0;
$bg-right: #042854;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #73b7dc;
$link: #73b7dc;
$link-hover: #fff;

@import "../../stylesheets/project-template"
