@import "../../stylesheets/base";

// Colors
$bg-left: #fff;
$bg-right: #e4e4e4;
$burst: #aaa;
$shadow: #999;
$heading: #555;
$text: #666;
$link: #004B6B;
$link-hover: #6D4100;

@import "../../stylesheets/project-template"
