@import "../../stylesheets/base";

// Colors
$bg-left: #fff;
$bg-right: #fff;
$burst: #aaa;
$shadow: #aaa;
$heading: #444;
$text: #666;
$link: #259dff;
$link-hover: #259dff;

@import "../../stylesheets/project-template"
