@import "../../stylesheets/base";

// Colors
$bg-left: #ffe9b9;
$bg-right: #b52d25;
$burst: #fff;
$shadow: #4e0400;
$heading: #fff;
$text: #ffe6c8;
$link: #ffe6c8;
$link-hover: #fff;

@import "../../stylesheets/project-template"
