@import "../../stylesheets/base";

// Colors
$bg-left: #06abd4;
$bg-right: #00325d;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #9acfdc;
$link: #9acfdc;
$link-hover: #fff;

@import "../../stylesheets/project-template"
