---
project: Django
language: Python
quickstart_repo: https://github.com/mu-box/quickstart-django
more_info:
  links:
    - text: Microbox Django Guides
      href: https://guides.microbox.cloud/python/django
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postresql
---
