---
project: Django
language: Python
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-django
more_info:
  links:
    - text: Nanobox Django Guides
      href: https://guides.nanobox.io/python/django
    - text: Nanobox Postgres Guides
      href: https://guides.nanobox.io/postresql
---
