@import "../../stylesheets/base";

// Colors
$bg-left: #3cb588;
$bg-right: #07582f;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #7bcaac;
$link: #7bcaac;
$link-hover: #fff;

@import "../../stylesheets/project-template"
