@import "../../stylesheets/base";

// Colors
$bg-left: #fff;
$bg-right: #b9b9b9;
$burst: #636363;
$shadow: #999;
$heading: #464646;
$text: #636363;
$link: #337ab7;
$link-hover: #265175;

@import "../../stylesheets/project-template"
