@import "../../stylesheets/base";

// Colors
$bg-left: #e04655;
$bg-right: #50193f;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #f1a1a9;
$link: #f1a1a9;
$link-hover: #fff;

@import "../../stylesheets/project-template"
