---
project: Sinatra
language: Ruby
more_info:
  links:
    - text: Nanobox Sinatra Guides
      href: https://guides.nanobox.io/ruby/sinatra
    - text: Nanobox Postgres Guides
      href: https://guides.nanobox.io/postgresql
---
