---
project: Sinatra
language: Ruby
quickstart_repo: https://github.com/mu-box/quickstart-sinatra
more_info:
  links:
    - text: Microbox Sinatra Guides
      href: https://guides.microbox.cloud/ruby/sinatra
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postgresql
---
