@import "../../stylesheets/base";

// Colors
$bg-left: #fff;
$bg-right: #e4e4e4;
$burst: #aaa;
$shadow: #999;
$heading: #444;
$text: #666;
$link: #3A99D8;
$link-hover: #2F81B7;

@import "../../stylesheets/project-template"
