---
project: Sails
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-sails
more_info:
  links:
    - text: Microbox Sails Guides
      href: https://guides.microbox.cloud/nodejs/sails
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postgresql
    - text: Sails Documentation
      href: http://sailsjs.com/documentation/concepts
---
