---
project: Sails
language: Node.js
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-sails
more_info:
  links:
    - text: Nanobox Sails Guides
      href: https://guides.nanobox.io/nodejs/sails
    - text: Nanobox Postgres Guides
      href: https://guides.nanobox.io/postgresql
    - text: Sails Documentation
      href: http://sailsjs.com/documentation/concepts
---
