@import "../../stylesheets/base";

// Colors
$bg-left: #0b93a7;
$bg-right: #012e3c;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #81b2b9;
$link: #81b2b9;
$link-hover: #fff;

@import "../../stylesheets/project-template"
