---
project: Phalcon
language: PHP
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-phalcon
more_info:
  links:
    - text: Nanobox Phalcon Guides
      href: https://guides.nanobox.io/php/phalcon
    - text: Nanobox MySQL Guides
      href: https://guides.nanobox.io/mysql
    - text: Phalcon Documentation
      href: https://docs.phalconphp.com/
---
