@import "../../stylesheets/base";

// Colors
$bg-left: #c7f5dc;
$bg-right: #0a6594;
$burst: #fff;
$shadow: #05304e;
$heading: #fff;
$text: #135779;
$link: #135779;
$link-hover: #05364e;

@import "../../stylesheets/project-template"
