---
project: Laravel
language: PHP
quickstart_repo: https://github.com/mu-box/quickstart-laravel
more_info:
  links:
    - text: Microbox Laravel Guides
      href: https://guides.microbox.cloud/php/laravel
    - text: Microbox MySQL Guides
      href: https://guides.microbox.cloud/mysql
---
