@import "../../stylesheets/base";

// Colors
$bg-left: #fb8977;
$bg-right: #b12928;
$burst: #fff;
$shadow: #54160e;
$heading: #fff;
$text: #ffebe9;
$link: #ffebe9;
$link-hover: #fff;

@import "../../stylesheets/project-template"
