---
project: Ember
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-ember
more_info:
  links:
    - text: Microbox Ember Guides
      href: https://guides.microbox.cloud/javascript/ember
    - text: Ember Documentation
      href: https://guides.emberjs.com/v2.14.0/
---
