@import "../../stylesheets/base";

// Colors
$bg-left: #f17d45;
$bg-right: #670101;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #ef9989;
$link: #ef9989;
$link-hover: #fff;

@import "../../stylesheets/project-template"
