---
project: Vue
language: Node.js
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-vue
more_info:
  links:
    - text: Nanobox Vue Guides
      href: https://guides.nanobox.io/javascript/vue
    - text: Vue Documentation
      href: https://vuejs.org/guide/
---
