---
project: Vue
language: Node.js
more_info:
  links:
    - text: Nanobox Vue Guides
      href: https://guides.nanobox.io/javascript/vue
    - text: Vue Documentation
      href: https://vuejs.org/guide/
---
