---
project: Vue
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-vue
more_info:
  links:
    - text: Microbox Vue Guides
      href: https://guides.microbox.cloud/javascript/vue
    - text: Vue Documentation
      href: https://vuejs.org/guide/
---
