@import "../../stylesheets/base";

// Colors
$bg-left: #50b580;
$bg-right: #192a3e;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #8dbfa5;
$link: #8dbfa5;
$link-hover: #fff;

@import "../../stylesheets/project-template"
