---
project: Adonis
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-adonis
more_info:
  links:
    - text: Microbox Adonis Guides
      href: https://guides.microbox.cloud/nodejs/adonis
    - text: Adonis Documentation
      href: https://adonisjs.com/docs
---
