---
project: Phoenix
language: Elixir
quickstart_repo: https://github.com/mu-box/quickstart-phoenix
more_info:
  links:
    - text: Microbox Phoenix Guides
      href: https://guides.microbox.cloud/elixir/phoenix
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postgresql
    - text: Phoenix Documentation
      href: https://hexdocs.pm/phoenix/Phoenix.html
---
