---
project: Phoenix
language: Elixir
more_info:
  links:
    - text: Nanobox Phoenix Guides
      href: https://guides.nanobox.io/elixir/phoenix
    - text: Nanobox Postgres Guides
      href: https://guides.nanobox.io/postgresql
    - text: Phoenix Documentation
      href: https://hexdocs.pm/phoenix/Phoenix.html
---
