@import "../../stylesheets/base";

// Colors
$bg-left: #f95d02;
$bg-right: #710000;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #ec9b76;
$link: #ec9b76;
$link-hover: #fff;

@import "../../stylesheets/project-template"
