---
project: Rails
language: Ruby
quickstart_repo: https://github.com/mu-box/quickstart-rails
more_info:
  links:
    - text: Microbox Rails Guides
      href: https://guides.microbox.cloud/ruby/rails
    - text: Microbox Postgres Guides
      href: https://guides.microbox.cloud/postgresql
---
