@import "../../stylesheets/base";

// Colors
$bg-left: #b12400;
$bg-right: #400510;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #b9888a;
$link: #b9888a;
$link-hover: #fff;

@import "../../stylesheets/project-template"
