---
project: CodeIgniter
language: PHP
more_info:
  links:
    - text: Nanobox CodeIgniter Guides
      href: https://guides.nanobox.io/php/codeigniter
    - text: Nanobox MySQL Guides
      href: https://guides.nanobox.io/mysql
---
