---
project: CodeIgniter
language: PHP
quickstart_repo: https://github.com/mu-box/quickstart-codeigniter
more_info:
  links:
    - text: Microbox CodeIgniter Guides
      href: https://guides.microbox.cloud/php/codeigniter
    - text: Microbox MySQL Guides
      href: https://guides.microbox.cloud/mysql
---
