@import "../../stylesheets/base";

// Colors
$bg-left: #da432b;
$bg-right: #5f071b;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #ff8f7d;
$link: #ff8f7d;
$link-hover: #fff;

@import "../../stylesheets/project-template"
