---
project: Hugo
language: Go
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-hugo
more_info:
  links:
    - text: Nanobox Hugo Guides
      href: https://guides.nanobox.io/golang/hugo
    - text: Hugo Documentation
      href: https://gohugo.io/documentation/
---
