---
project: Hugo
language: Go
quickstart_repo: https://github.com/mu-box/quickstart-hugo
more_info:
  links:
    - text: Microbox Hugo Guides
      href: https://guides.microbox.cloud/golang/hugo
    - text: Hugo Documentation
      href: https://gohugo.io/documentation/
---
