@import "../../stylesheets/base";

// Colors
$bg-left: #00a1d2;
$bg-right: #8e006f;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #c7cdde;
$link: #c7cdde;
$link-hover: #fff;

@import "../../stylesheets/project-template"
