---
project: Slim
language: PHP
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-phalcon
more_info:
  links:
    - text: Nanobox Slim Guides
      href: https://guides.nanobox.io/php/slim
---
