@import "../../stylesheets/base";

// Colors
$bg-left: #6da23c;
$bg-right: #1d4c25;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #aacc9f;
$link: #aacc9f;
$link-hover: #fff;

@import "../../stylesheets/project-template"
