---
project: Angular
language: Node.js
quickstart_repo: https://github.com/mu-box/quickstart-angular
more_info:
  links:
    - text: Microbox Angular Guides
      href: https://guides.microbox.cloud/javascript/angular
    - text: Angular Documentation
      href: https://angular.io/docs
---
