---
project: Angular
language: Node.js
quickstart_repo: https://github.com/nanobox-quickstarts/nanobox-angular
more_info:
  links:
    - text: Nanobox Angular Guides
      href: https://guides.nanobox.io/javascript/angular
    - text: Angular Documentation
      href: https://angular.io/docs
---
