@import "../../stylesheets/base";

// Colors
$bg-left: #14b3ff;
$bg-right: #04283a;
$burst: #fff;
$shadow: #000;
$heading: #fff;
$text: #7dbcda;
$link: #7dbcda;
$link-hover: #fff;

@import "../../stylesheets/project-template"
